* {
    font-family:'Oswald', Arial, sans-serif;
    box-sizing: border-box;
}
body{
    height: 100vh;
    margin: 0px;
    display: grid;
    grid-template-rows: 120px 1fr 60px;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer";
}
.header {
    grid-area: header;
    background-color: #1867c0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    z-index: 1;
    box-shadow: 0px 4px 8px -2px rgba(0, 0, 0, 0.75);
}
.header > h1 {
    margin: 0px;
    font-weight: 300;
    font-size: 2.8rem;
}
.header > h2 {
    margin: 0px;
    font-weight: 200;
    font-size: 1.6rem;
}
.main {
    grid-area: main;
    height: calc(100vh - 180px);
    background-color: #f0f0f0;
    padding: 20px;
}
.footer {
    grid-area: footer;
    background-color: #fff;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.2rem;
    padding:  0px 20px;
    color:#444;
}
.content {
    position: relative;
    height:100%;
    overflow-y:scroll;
    background-color: #FFF;
    padding: 20px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
}
.modules {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.module {
    flex-basis: 32%;
    margin-bottom: 20px;
    border-radius: 30%;
}
.module > h3 {
    margin: 0px;
    color: #fff;
    font-weight: 300;
    font-size: 1.5rem;
    padding:  10px 20px;
    background-color: #1867c0;
}
.module > ul {
    padding: 10px;
    margin: 0px;
    list-style: none;
}
.module > ul > li {
    padding: 10px;
    font-size: 1.3rem;
    cursor: pointer;
}
.module > ul > li > a {
    display: flex;
    text-decoration: none;
    color: #222;
    padding: 10px 20px;
} 
.module > ul > li > a:hover {
    background-color: #EEE;
}